<form action="/answer" method= "get">
<label for= "query"> Ask your coach anything</label>
  <div class="input">
  <input type="text" id="query" name="question" placeholder= "Type here" value="<%=params[:query]%>">
  <button type="button">Ask</button>
  </div>
</form>
